In [113]:
import pandas as pd
import numpy as np

In [13]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_info_columns', 1000)

In [127]:
df = pd.read_csv('../data/raw/2025_LoL_esports_match_data_from_OraclesElixir.csv', dtype={'url': str})
regions_df = pd.read_csv('../data/raw/teams_regions.csv', keep_default_na=False, na_values=[]) # Ensures NA isn't treated as nulls.
regions_dict = regions_df.set_index('team')['region'].to_dict()

In [8]:
df.shape

(119064, 164)

In [84]:
leagues = ['LPL', 'LCK', 'LEC', 'LTA N', 'MSI', 'WLDs']

In [67]:
df2 = df[df['league'].isin(leagues)].dropna(subset='pick1').dropna(axis=1, how='all').reset_index(drop=True)

In [117]:
df2[['teamname']].value_counts()

teamname
Bilibili Gaming        177
Anyone's Legend        173
Top Esports            172
T1                     162
Gen.G                  153
JD Gaming              145
Invictus Gaming        144
Weibo Gaming           139
Dplus KIA              131
KT Rolster             130
Hanwha Life Esports    130
Team WE                127
Nongshim RedForce      117
FunPlus Phoenix        115
Ninjas in Pyjamas      111
BNK FEARX              105
G2 Esports             103
Movistar KOI           103
OKSavingsBank BRION    101
ThunderTalk Gaming      98
DRX                     97
DN Freecs               88
Karmine Corp            87
Fnatic                  85
FlyQuest                74
Ultra Prime             70
EDward Gaming           68
LGD Gaming              62
Cloud9                  59
Shopify Rebellion       58
GiantX                  57
100 Thieves             56
Team Heretics           54
Team Vitality           52
LNG Esports             50
Team BDS                50
Team Liquid             47
Disguised               47
Dignitas                39
SK Gaming               37
LYON                    33
Oh My God               32
Royal Never Give Up     31
Rogue                   29
CTBC Flying Oyster      25
Estral Esports          14
GAM Esports             13
Luminosity Gaming       13
FURIA                   10
Natus Vincere            8
Vivo Keyd Stars          7
Team Secret Whales       6
SDM Tigres               6
Conviction               5
PSG Talon                5
Name: count, dtype: int64

In [59]:
df2['year'].value_counts()

year
2025    4062
2026      48
Name: count, dtype: int64

In [60]:
df2[df2['year'] == 2026]['date']

3894    2025-10-04 20:08:48
3895    2025-10-04 20:08:48
3896    2025-10-04 20:58:48
3897    2025-10-04 20:58:48
3898    2025-10-04 21:49:17
3899    2025-10-04 21:49:17
3900    2025-10-04 22:33:19
3901    2025-10-04 22:33:19
3902    2025-10-04 23:28:14
3903    2025-10-04 23:28:14
3904    2025-10-05 20:13:09
3905    2025-10-05 20:13:09
3906    2025-10-05 21:06:34
3907    2025-10-05 21:06:34
3908    2025-10-05 22:08:47
3909    2025-10-05 22:08:47
3910    2025-10-06 20:07:03
3911    2025-10-06 20:07:03
3912    2025-10-06 21:09:35
3913    2025-10-06 21:09:35
3914    2025-10-07 00:00:39
3915    2025-10-07 00:00:39
3916    2025-10-08 20:08:33
3917    2025-10-08 20:08:33
3918    2025-10-08 21:18:22
3919    2025-10-08 21:18:22
3920    2025-10-08 22:06:05
3921    2025-10-08 22:06:05
3922    2025-10-09 20:09:13
3923    2025-10-09 20:09:13
3924    2025-10-09 21:04:11
3925    2025-10-09 21:04:11
3926    2025-10-09 22:00:29
3927    2025-10-09 22:00:29
3928    2025-10-10 20:07:51
3929    2025-10-10 20:07:51
3930    2025-10-10 20:53:10
3931    2025-10-10 20:53:10
3932    2025-10-10 21:41:48
3933    2025-10-10 21:41:48
3934    2025-10-12 20:09:22
3935    2025-10-12 20:09:22
3936    2025-10-12 21:06:03
3937    2025-10-12 21:06:03
3938    2025-10-12 21:59:59
3939    2025-10-12 21:59:59
3940    2025-10-12 22:55:28
3941    2025-10-12 22:55:28
Name: date, dtype: object

In [70]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4110 entries, 0 to 4109
Data columns (total 155 columns):
 #    Column                    Non-Null Count  Dtype
---   ------                    --------------  -----
 0    gameid                    4110 non-null   object
 1    datacompleteness          4110 non-null   object
 2    url                       1634 non-null   object
 3    league                    4110 non-null   object
 4    year                      4110 non-null   int64
 5    split                     3710 non-null   object
 6    playoffs                  4110 non-null   int64
 7    date                      4110 non-null   object
 8    game                      4110 non-null   int64
 9    patch                     4110 non-null   float64
 10   participantid             4110 non-null   int64
 11   side                      4110 non-null   object
 12   position                  4110 non-null   object
 13   teamname                  4110 non-null   object
 14   teamid                    4109 non-null   object
 15   ban1                      4110 non-null   object
 16   ban2                      4110 non-null   object
 17   ban3                      4106 non-null   object
 18   ban4                      4106 non-null   object
 19   ban5                      4107 non-null   object
 20   pick1                     4110 non-null   object
 21   pick2                     4110 non-null   object
 22   pick3                     4110 non-null   object
 23   pick4                     4110 non-null   object
 24   pick5                     4110 non-null   object
 25   gamelength                4110 non-null   int64
 26   result                    4110 non-null   int64
 27   kills                     4110 non-null   int64
 28   deaths                    4110 non-null   int64
 29   assists                   4110 non-null   int64
 30   teamkills                 4110 non-null   int64
 31   teamdeaths                4110 non-null   int64
 32   doublekills               2476 non-null   float64
 33   triplekills               2476 non-null   float64
 34   quadrakills               2476 non-null   float64
 35   pentakills                2476 non-null   float64
 36   firstblood                4110 non-null   float64
 37   team kpm                  4110 non-null   float64
 38   ckpm                      4110 non-null   float64
 39   firstdragon               4110 non-null   float64
 40   dragons                   4110 non-null   float64
 41   opp_dragons               4110 non-null   float64
 42   elementaldrakes           2476 non-null   float64
 43   opp_elementaldrakes       2476 non-null   float64
 44   infernals                 2476 non-null   float64
 45   mountains                 2476 non-null   float64
 46   clouds                    2476 non-null   float64
 47   oceans                    2476 non-null   float64
 48   chemtechs                 2476 non-null   float64
 49   hextechs                  2476 non-null   float64
 50   dragons (type unknown)    1634 non-null   float64
 51   elders                    2476 non-null   float64
 52   opp_elders                2476 non-null   float64
 53   firstherald               2476 non-null   float64
 54   heralds                   4110 non-null   float64
 55   opp_heralds               4110 non-null   float64
 56   void_grubs                4110 non-null   float64
 57   opp_void_grubs            4110 non-null   float64
 58   firstbaron                2476 non-null   float64
 59   barons                    4110 non-null   float64
 60   opp_barons                4110 non-null   float64
 61   atakhans                  2474 non-null   float64
 62   opp_atakhans              2474 non-null   float64
 63   firsttower                4110 non-null   float64
 64   towers                    4110 non-null   float64
 65   opp_towers                4110 non-null   float64
 66   firstmidtower             2476 non-null   float64
 67   firsttothreetowers        2476 non-null   float64
 68   turretplates              2476 non-null   float64
 69   opp_turretplates          2476 non-null   float64
 70   inhibitors                4110 non-null   float64
 71   opp_inhibitors            4110 non-null   float64
 72   damagetochampions         4110 non-null   int64
 73   dpm                       4110 non-null   float64
 74   damagetakenperminute      4110 non-null   float64
 75   damagemitigatedperminute  2476 non-null   float64
 76   damagetotowers            2476 non-null   float64
 77   wardsplaced               4110 non-null   int64
 78   wpm                       4110 non-null   float64
 79   wardskilled               4110 non-null   int64
 80   wcpm                      4110 non-null   float64
 81   controlwardsbought        4110 non-null   int64
 82   visionscore               4110 non-null   int64
 83   vspm                      4110 non-null   float64
 84   totalgold                 4110 non-null   int64
 85   earnedgold                4110 non-null   int64
 86   earned gpm                4110 non-null   float64
 87   goldspent                 4110 non-null   int64
 88   gspd                      4110 non-null   float64
 89   gpr                       2476 non-null   float64
 90   minionkills               2476 non-null   float64
 91   monsterkills              4110 non-null   int64
 92   monsterkillsownjungle     1634 non-null   float64
 93   monsterkillsenemyjungle   1634 non-null   float64
 94   cspm                      2476 non-null   float64
 95   goldat10                  2476 non-null   float64
 96   xpat10                    2476 non-null   float64
 97   csat10                    2476 non-null   float64
 98   opp_goldat10              2476 non-null   float64
 99   opp_xpat10                2476 non-null   float64
 100  opp_csat10                2476 non-null   float64
 101  golddiffat10              2476 non-null   float64
 102  xpdiffat10                2476 non-null   float64
 103  csdiffat10                2476 non-null   float64
 104  killsat10                 2476 non-null   float64
 105  assistsat10               2476 non-null   float64
 106  deathsat10                2476 non-null   float64
 107  opp_killsat10             2476 non-null   float64
 108  opp_assistsat10           2476 non-null   float64
 109  opp_deathsat10            2476 non-null   float64
 110  goldat15                  2476 non-null   float64
 111  xpat15                    2476 non-null   float64
 112  csat15                    2476 non-null   float64
 113  opp_goldat15              2476 non-null   float64
 114  opp_xpat15                2476 non-null   float64
 115  opp_csat15                2476 non-null   float64
 116  golddiffat15              2476 non-null   float64
 117  xpdiffat15                2476 non-null   float64
 118  csdiffat15                2476 non-null   float64
 119  killsat15                 2476 non-null   float64
 120  assistsat15               2476 non-null   float64
 121  deathsat15                2476 non-null   float64
 122  opp_killsat15             2476 non-null   float64
 123  opp_assistsat15           2476 non-null   float64
 124  opp_deathsat15            2476 non-null   float64
 125  goldat20                  2476 non-null   float64
 126  xpat20                    2476 non-null   float64
 127  csat20                    2476 non-null   float64
 128  opp_goldat20              2476 non-null   float64
 129  opp_xpat20                2476 non-null   float64
 130  opp_csat20                2476 non-null   float64
 131  golddiffat20              2476 non-null   float64
 132  xpdiffat20                2476 non-null   float64
 133  csdiffat20                2476 non-null   float64
 134  killsat20                 2476 non-null   float64
 135  assistsat20               2476 non-null   float64
 136  deathsat20                2476 non-null   float64
 137  opp_killsat20             2476 non-null   float64
 138  opp_assistsat20           2476 non-null   float64
 139  opp_deathsat20            2476 non-null   float64
 140  goldat25                  2458 non-null   float64
 141  xpat25                    2458 non-null   float64
 142  csat25                    2458 non-null   float64
 143  opp_goldat25              2458 non-null   float64
 144  opp_xpat25                2458 non-null   float64
 145  opp_csat25                2458 non-null   float64
 146  golddiffat25              2458 non-null   float64
 147  xpdiffat25                2458 non-null   float64
 148  csdiffat25                2458 non-null   float64
 149  killsat25                 2458 non-null   float64
 150  assistsat25               2458 non-null   float64
 151  deathsat25                2458 non-null   float64
 152  opp_killsat25             2458 non-null   float64
 153  opp_assistsat25           2458 non-null   float64
 154  opp_deathsat25            2458 non-null   float64
dtypes: float64(115), int64(20), object(20)
memory usage: 4.9+ MB

In [71]:
df2.head(4) # Some 15 min data is missing

,gameid,datacompleteness,url,league,year,split,playoffs,date,game,patch,participantid,side,position,teamname,teamid,ban1,ban2,ban3,ban4,ban5,pick1,pick2,pick3,pick4,pick5,gamelength,result,kills,deaths,assists,teamkills,teamdeaths,doublekills,triplekills,quadrakills,pentakills,firstblood,team kpm,ckpm,firstdragon,dragons,opp_dragons,elementaldrakes,opp_elementaldrakes,infernals,mountains,clouds,oceans,chemtechs,hextechs,dragons (type unknown),elders,opp_elders,firstherald,heralds,opp_heralds,void_grubs,opp_void_grubs,firstbaron,barons,opp_barons,atakhans,opp_atakhans,firsttower,towers,opp_towers,firstmidtower,firsttothreetowers,turretplates,opp_turretplates,inhibitors,opp_inhibitors,damagetochampions,dpm,damagetakenperminute,damagemitigatedperminute,damagetotowers,wardsplaced,wpm,wardskilled,wcpm,controlwardsbought,visionscore,vspm,totalgold,earnedgold,earned gpm,goldspent,gspd,gpr,minionkills,monsterkills,monsterkillsownjungle,monsterkillsenemyjungle,cspm,goldat10,xpat10,csat10,opp_goldat10,opp_xpat10,opp_csat10,golddiffat10,xpdiffat10,csdiffat10,killsat10,assistsat10,deathsat10,opp_killsat10,opp_assistsat10,opp_deathsat10,goldat15,xpat15,csat15,opp_goldat15,opp_xpat15,opp_csat15,golddiffat15,xpdiffat15,csdiffat15,killsat15,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15,goldat20,xpat20,csat20,opp_goldat20,opp_xpat20,opp_csat20,golddiffat20,xpdiffat20,csdiffat20,killsat20,assistsat20,deathsat20,opp_killsat20,opp_assistsat20,opp_deathsat20,goldat25,xpat25,csat25,opp_goldat25,opp_xpat25,opp_csat25,golddiffat25,xpdiffat25,csdiffat25,killsat25,assistsat25,deathsat25,opp_killsat25,opp_assistsat25,opp_deathsat25
0,11715-11715_game_1,partial,https://lpl.qq.com/es/stats.shtml?bmid=11715,LPL,2025,Split 1,0,2025-01-12 09:24:17,1,15.01,100,Blue,team,Weibo Gaming,oe:team:606c6ac695907af3823ee6405c58ff1,Jayce,Poppy,Rumble,Rakan,Rell,Ashe,Aurora,Braum,K'Sante,Viego,2123,1,17,5,33,17,5,NaN,NaN,NaN,NaN,1.0,0.4805,0.6218,1.0,4.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,NaN,NaN,1.0,0.0,6.0,0.0,NaN,1.0,0.0,NaN,NaN,1.0,10.0,4.0,NaN,NaN,NaN,NaN,3.0,0.0,79310,2241.4508,3371.4178,NaN,NaN,114,3.2219,65,1.8370,46,331,9.3547,69462,46429,1312.1715,62165,0.076389,NaN,NaN,267,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11715-11715_game_1,partial,https://lpl.qq.com/es/stats.shtml?bmid=11715,LPL,2025,Split 1,0,2025-01-12 09:24:17,1,15.01,200,Red,team,Oh My God,oe:team:f4c4528c6981e104a11ea7548630c23,Skarner,Vi,Kalista,Xin Zhao,Wukong,Varus,Nocturne,Orianna,Neeko,Gnar,2123,0,5,17,9,5,17,NaN,NaN,NaN,NaN,0.0,0.1413,0.6218,0.0,1.0,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,0.0,1.0,0.0,6.0,NaN,0.0,1.0,NaN,NaN,0.0,4.0,10.0,NaN,NaN,NaN,NaN,0.0,3.0,74966,2118.6811,3152.3316,NaN,NaN,130,3.6740,51,1.4414,42,281,7.9416,59252,36219,1023.6175,57591,-0.076389,NaN,NaN,220,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11715-11715_game_2,partial,https://lpl.qq.com/es/stats.shtml?bmid=11715,LPL,2025,Split 1,0,2025-01-12 10:26:00,2,15.01,100,Blue,team,Oh My God,oe:team:f4c4528c6981e104a11ea7548630c23,Caitlyn,Vi,Xin Zhao,Poppy,Alistar,Rumble,Rell,Jhin,Maokai,Ambessa,1952,0,11,18,27,11,18,NaN,NaN,NaN,NaN,0.0,0.3381,0.8914,0.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,1.0,0.0,3.0,3.0,NaN,0.0,1.0,NaN,NaN,0.0,1.0,11.0,NaN,NaN,NaN,NaN,0.0,3.0,74526,2290.7582,3753.9037,NaN,NaN,107,3.2889,41,1.2602,34,234,7.1926,54281,32993,1014.1291,51873,-0.129725,NaN,NaN,174,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11715-11715_game_2,partial,https://lpl.qq.com/es/stats.shtml?bmid=11715,LPL,2025,Split 1,0,2025-01-12 10:26:00,2,15.01,200,Red,team,Weibo Gaming,oe:team:606c6ac695907af3823ee6405c58ff1,Kalista,Skarner,Corki,Sejuani,Yone,Jayce,Miss Fortune,Wukong,Rakan,Viktor,1952,1,18,11,40,18,11,NaN,NaN,NaN,NaN,1.0,0.5533,0.8914,1.0,2.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN,NaN,0.0,1.0,3.0,3.0,NaN,1.0,0.0,NaN,NaN,1.0,11.0,1.0,NaN,NaN,NaN,NaN,3.0,0.0,90026,2767.1926,3564.2828,NaN,NaN,108,3.3197,45,1.3832,44,271,8.3299,66484,45196,1389.2213,59069,0.129725,NaN,NaN,242,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [74]:
df2[df2['datacompleteness'] == 'partial']['league'].value_counts()

league
LPL     1610
WLDs      24
Name: count, dtype: int64

In [81]:
df3 = df2[df2['datacompleteness'] == 'complete'].reset_index(drop=True)

In [83]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2476 entries, 0 to 2475
Data columns (total 155 columns):
 #    Column                    Non-Null Count  Dtype
---   ------                    --------------  -----
 0    gameid                    2476 non-null   object
 1    datacompleteness          2476 non-null   object
 2    url                       0 non-null      object
 3    league                    2476 non-null   object
 4    year                      2476 non-null   int64
 5    split                     2100 non-null   object
 6    playoffs                  2476 non-null   int64
 7    date                      2476 non-null   object
 8    game                      2476 non-null   int64
 9    patch                     2476 non-null   float64
 10   participantid             2476 non-null   int64
 11   side                      2476 non-null   object
 12   position                  2476 non-null   object
 13   teamname                  2476 non-null   object
 14   teamid                    2475 non-null   object
 15   ban1                      2476 non-null   object
 16   ban2                      2476 non-null   object
 17   ban3                      2475 non-null   object
 18   ban4                      2473 non-null   object
 19   ban5                      2473 non-null   object
 20   pick1                     2476 non-null   object
 21   pick2                     2476 non-null   object
 22   pick3                     2476 non-null   object
 23   pick4                     2476 non-null   object
 24   pick5                     2476 non-null   object
 25   gamelength                2476 non-null   int64
 26   result                    2476 non-null   int64
 27   kills                     2476 non-null   int64
 28   deaths                    2476 non-null   int64
 29   assists                   2476 non-null   int64
 30   teamkills                 2476 non-null   int64
 31   teamdeaths                2476 non-null   int64
 32   doublekills               2476 non-null   float64
 33   triplekills               2476 non-null   float64
 34   quadrakills               2476 non-null   float64
 35   pentakills                2476 non-null   float64
 36   firstblood                2476 non-null   float64
 37   team kpm                  2476 non-null   float64
 38   ckpm                      2476 non-null   float64
 39   firstdragon               2476 non-null   float64
 40   dragons                   2476 non-null   float64
 41   opp_dragons               2476 non-null   float64
 42   elementaldrakes           2476 non-null   float64
 43   opp_elementaldrakes       2476 non-null   float64
 44   infernals                 2476 non-null   float64
 45   mountains                 2476 non-null   float64
 46   clouds                    2476 non-null   float64
 47   oceans                    2476 non-null   float64
 48   chemtechs                 2476 non-null   float64
 49   hextechs                  2476 non-null   float64
 50   dragons (type unknown)    0 non-null      float64
 51   elders                    2476 non-null   float64
 52   opp_elders                2476 non-null   float64
 53   firstherald               2476 non-null   float64
 54   heralds                   2476 non-null   float64
 55   opp_heralds               2476 non-null   float64
 56   void_grubs                2476 non-null   float64
 57   opp_void_grubs            2476 non-null   float64
 58   firstbaron                2476 non-null   float64
 59   barons                    2476 non-null   float64
 60   opp_barons                2476 non-null   float64
 61   atakhans                  2474 non-null   float64
 62   opp_atakhans              2474 non-null   float64
 63   firsttower                2476 non-null   float64
 64   towers                    2476 non-null   float64
 65   opp_towers                2476 non-null   float64
 66   firstmidtower             2476 non-null   float64
 67   firsttothreetowers        2476 non-null   float64
 68   turretplates              2476 non-null   float64
 69   opp_turretplates          2476 non-null   float64
 70   inhibitors                2476 non-null   float64
 71   opp_inhibitors            2476 non-null   float64
 72   damagetochampions         2476 non-null   int64
 73   dpm                       2476 non-null   float64
 74   damagetakenperminute      2476 non-null   float64
 75   damagemitigatedperminute  2476 non-null   float64
 76   damagetotowers            2476 non-null   float64
 77   wardsplaced               2476 non-null   int64
 78   wpm                       2476 non-null   float64
 79   wardskilled               2476 non-null   int64
 80   wcpm                      2476 non-null   float64
 81   controlwardsbought        2476 non-null   int64
 82   visionscore               2476 non-null   int64
 83   vspm                      2476 non-null   float64
 84   totalgold                 2476 non-null   int64
 85   earnedgold                2476 non-null   int64
 86   earned gpm                2476 non-null   float64
 87   goldspent                 2476 non-null   int64
 88   gspd                      2476 non-null   float64
 89   gpr                       2476 non-null   float64
 90   minionkills               2476 non-null   float64
 91   monsterkills              2476 non-null   int64
 92   monsterkillsownjungle     0 non-null      float64
 93   monsterkillsenemyjungle   0 non-null      float64
 94   cspm                      2476 non-null   float64
 95   goldat10                  2476 non-null   float64
 96   xpat10                    2476 non-null   float64
 97   csat10                    2476 non-null   float64
 98   opp_goldat10              2476 non-null   float64
 99   opp_xpat10                2476 non-null   float64
 100  opp_csat10                2476 non-null   float64
 101  golddiffat10              2476 non-null   float64
 102  xpdiffat10                2476 non-null   float64
 103  csdiffat10                2476 non-null   float64
 104  killsat10                 2476 non-null   float64
 105  assistsat10               2476 non-null   float64
 106  deathsat10                2476 non-null   float64
 107  opp_killsat10             2476 non-null   float64
 108  opp_assistsat10           2476 non-null   float64
 109  opp_deathsat10            2476 non-null   float64
 110  goldat15                  2476 non-null   float64
 111  xpat15                    2476 non-null   float64
 112  csat15                    2476 non-null   float64
 113  opp_goldat15              2476 non-null   float64
 114  opp_xpat15                2476 non-null   float64
 115  opp_csat15                2476 non-null   float64
 116  golddiffat15              2476 non-null   float64
 117  xpdiffat15                2476 non-null   float64
 118  csdiffat15                2476 non-null   float64
 119  killsat15                 2476 non-null   float64
 120  assistsat15               2476 non-null   float64
 121  deathsat15                2476 non-null   float64
 122  opp_killsat15             2476 non-null   float64
 123  opp_assistsat15           2476 non-null   float64
 124  opp_deathsat15            2476 non-null   float64
 125  goldat20                  2476 non-null   float64
 126  xpat20                    2476 non-null   float64
 127  csat20                    2476 non-null   float64
 128  opp_goldat20              2476 non-null   float64
 129  opp_xpat20                2476 non-null   float64
 130  opp_csat20                2476 non-null   float64
 131  golddiffat20              2476 non-null   float64
 132  xpdiffat20                2476 non-null   float64
 133  csdiffat20                2476 non-null   float64
 134  killsat20                 2476 non-null   float64
 135  assistsat20               2476 non-null   float64
 136  deathsat20                2476 non-null   float64
 137  opp_killsat20             2476 non-null   float64
 138  opp_assistsat20           2476 non-null   float64
 139  opp_deathsat20            2476 non-null   float64
 140  goldat25                  2458 non-null   float64
 141  xpat25                    2458 non-null   float64
 142  csat25                    2458 non-null   float64
 143  opp_goldat25              2458 non-null   float64
 144  opp_xpat25                2458 non-null   float64
 145  opp_csat25                2458 non-null   float64
 146  golddiffat25              2458 non-null   float64
 147  xpdiffat25                2458 non-null   float64
 148  csdiffat25                2458 non-null   float64
 149  killsat25                 2458 non-null   float64
 150  assistsat25               2458 non-null   float64
 151  deathsat25                2458 non-null   float64
 152  opp_killsat25             2458 non-null   float64
 153  opp_assistsat25           2458 non-null   float64
 154  opp_deathsat25            2458 non-null   float64
dtypes: float64(115), int64(20), object(20)
memory usage: 2.9+ MB

In [94]:
cols_to_keep = ['gameid', 'league', 'playoffs', 'game', 'side', 'teamname', 'result', 'void_grubs', 'opp_void_grubs', 'goldat15', 'xpat15', 'csat15', 'opp_goldat15', 'opp_xpat15', 'opp_csat15', 'golddiffat15', 'xpdiffat15', 'csdiffat15', 'killsat15', 'assistsat15', 'deathsat15', 'opp_killsat15', 'opp_assistsat15', 'opp_deathsat15']

In [95]:
df4 = df3[cols_to_keep]

In [96]:
df4.head()

,gameid,league,playoffs,game,side,teamname,result,void_grubs,opp_void_grubs,goldat15,xpat15,csat15,opp_goldat15,opp_xpat15,opp_csat15,golddiffat15,xpdiffat15,csdiffat15,killsat15,assistsat15,deathsat15,opp_killsat15,opp_assistsat15,opp_deathsat15
0,LOLTMNT03_183532,LCK,0,1,Blue,OKSavingsBank BRION,1,4.0,2.0,25921.0,30248.0,553.0,22854.0,27660.0,529.0,3067.0,2588.0,24.0,5.0,13.0,1.0,1.0,3.0,5.0
1,LOLTMNT03_183532,LCK,0,1,Red,DRX,0,2.0,4.0,22854.0,27660.0,529.0,25921.0,30248.0,553.0,-3067.0,-2588.0,-24.0,1.0,3.0,5.0,5.0,13.0,1.0
2,LOLTMNT03_183538,LCK,0,2,Blue,DRX,1,6.0,0.0,24685.0,29831.0,530.0,23209.0,29020.0,536.0,1476.0,811.0,-6.0,3.0,6.0,1.0,1.0,2.0,3.0
3,LOLTMNT03_183538,LCK,0,2,Red,OKSavingsBank BRION,0,0.0,6.0,23209.0,29020.0,536.0,24685.0,29831.0,530.0,-1476.0,-811.0,6.0,1.0,2.0,3.0,3.0,6.0,1.0
4,LOLTMNT03_183544,LCK,0,3,Blue,OKSavingsBank BRION,0,5.0,1.0,25831.0,31298.0,562.0,23838.0,30242.0,557.0,1993.0,1056.0,5.0,5.0,9.0,0.0,0.0,0.0,5.0

In [108]:
df_combined = df4.pivot(index='gameid', columns='side', values=['teamname', 'result', 'void_grubs', 'goldat15', 'xpat15', 'csat15', 'golddiffat15', 
                                                  'xpdiffat15', 'csdiffat15', 'killsat15', 'assistsat15', 'deathsat15'])

df_combined.columns = [f'{col[0]}_{col[1]}' for col in df_combined.columns]
df_combined = df_combined.reset_index()

In [102]:
df_combined.head()

,teamname_Blue,teamname_Red,result_Blue,result_Red,void_grubs_Blue,void_grubs_Red,goldat15_Blue,goldat15_Red,xpat15_Blue,xpat15_Red,csat15_Blue,csat15_Red,golddiffat15_Blue,golddiffat15_Red,xpdiffat15_Blue,xpdiffat15_Red,csdiffat15_Blue,csdiffat15_Red,killsat15_Blue,killsat15_Red,assistsat15_Blue,assistsat15_Red,deathsat15_Blue,deathsat15_Red
gameid,,,,,,,,,,,,,,,,,,,,,,,,
LOLTMNT01_191712,Shopify Rebellion,FlyQuest,0,1,1.0,5.0,22761.0,25516.0,27872.0,29618.0,493.0,519.0,-2755.0,2755.0,-1746.0,1746.0,-26.0,26.0,2.0,3.0,4.0,9.0,3.0,2.0
LOLTMNT01_191718,Shopify Rebellion,FlyQuest,0,1,1.0,5.0,22767.0,26550.0,28418.0,31471.0,495.0,560.0,-3783.0,3783.0,-3053.0,3053.0,-65.0,65.0,2.0,3.0,3.0,5.0,3.0,2.0
LOLTMNT01_192790,LYON,Cloud9,0,1,3.0,3.0,22927.0,24125.0,29468.0,30851.0,550.0,583.0,-1198.0,1198.0,-1383.0,1383.0,-33.0,33.0,0.0,1.0,0.0,3.0,1.0,0.0
LOLTMNT01_192797,LYON,Cloud9,0,1,1.0,5.0,23985.0,24885.0,29172.0,29294.0,510.0,527.0,-900.0,900.0,-122.0,122.0,-17.0,17.0,4.0,4.0,9.0,9.0,4.0,4.0
LOLTMNT01_193134,Dignitas,Team Liquid,0,1,2.0,4.0,23571.0,26478.0,29053.0,30748.0,520.0,551.0,-2907.0,2907.0,-1695.0,1695.0,-31.0,31.0,1.0,4.0,3.0,7.0,4.0,1.0

In [109]:
df_combined_2 = df_combined.drop(columns=['result_Red', 'goldat15_Blue', 'goldat15_Red', 'xpat15_Blue', 'xpat15_Red', 'csat15_Blue', 'csat15_Red',
                                          'golddiffat15_Red', 'xpdiffat15_Red', 'csdiffat15_Red'])

In [110]:
df_combined_2.head(10)

,gameid,teamname_Blue,teamname_Red,result_Blue,void_grubs_Blue,void_grubs_Red,golddiffat15_Blue,xpdiffat15_Blue,csdiffat15_Blue,killsat15_Blue,killsat15_Red,assistsat15_Blue,assistsat15_Red,deathsat15_Blue,deathsat15_Red
0,LOLTMNT01_191712,Shopify Rebellion,FlyQuest,0,1.0,5.0,-2755.0,-1746.0,-26.0,2.0,3.0,4.0,9.0,3.0,2.0
1,LOLTMNT01_191718,Shopify Rebellion,FlyQuest,0,1.0,5.0,-3783.0,-3053.0,-65.0,2.0,3.0,3.0,5.0,3.0,2.0
2,LOLTMNT01_192790,LYON,Cloud9,0,3.0,3.0,-1198.0,-1383.0,-33.0,0.0,1.0,0.0,3.0,1.0,0.0
3,LOLTMNT01_192797,LYON,Cloud9,0,1.0,5.0,-900.0,-122.0,-17.0,4.0,4.0,9.0,9.0,4.0,4.0
4,LOLTMNT01_193134,Dignitas,Team Liquid,0,2.0,4.0,-2907.0,-1695.0,-31.0,1.0,4.0,3.0,7.0,4.0,1.0
5,LOLTMNT01_193140,Dignitas,Team Liquid,0,3.0,3.0,-2742.0,-3312.0,-16.0,4.0,7.0,9.0,9.0,7.0,4.0
6,LOLTMNT01_194069,Disguised,100 Thieves,0,2.0,4.0,458.0,529.0,33.0,3.0,2.0,2.0,2.0,2.0,3.0
7,LOLTMNT01_194092,Disguised,100 Thieves,0,3.0,3.0,-604.0,-1121.0,-26.0,4.0,4.0,12.0,11.0,4.0,4.0
8,LOLTMNT01_195821,KT Rolster,DN Freecs,1,5.0,1.0,1829.0,1625.0,27.0,2.0,0.0,1.0,0.0,0.0,2.0
9,LOLTMNT01_195885,DRX,Hanwha Life Esports,0,2.0,4.0,-2500.0,-1741.0,-56.0,4.0,6.0,10.0,15.0,6.0,4.0

In [111]:
cols_to_numeric = ['result_Blue', 'void_grubs_Blue', 'void_grubs_Red', 'golddiffat15_Blue', 'xpdiffat15_Blue', 'csdiffat15_Blue', 'killsat15_Blue',
                   'killsat15_Red', 'assistsat15_Blue', 'assistsat15_Red', 'deathsat15_Blue', 'deathsat15_Red']

df_combined_2[cols_to_numeric] = df_combined_2[cols_to_numeric].apply(pd.to_numeric, errors='coerce')

In [112]:
df_combined_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1238 entries, 0 to 1237
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gameid             1238 non-null   object
 1   teamname_Blue      1238 non-null   object
 2   teamname_Red       1238 non-null   object
 3   result_Blue        1238 non-null   int64
 4   void_grubs_Blue    1238 non-null   float64
 5   void_grubs_Red     1238 non-null   float64
 6   golddiffat15_Blue  1238 non-null   float64
 7   xpdiffat15_Blue    1238 non-null   float64
 8   csdiffat15_Blue    1238 non-null   float64
 9   killsat15_Blue     1238 non-null   float64
 10  killsat15_Red      1238 non-null   float64
 11  assistsat15_Blue   1238 non-null   float64
 12  assistsat15_Red    1238 non-null   float64
 13  deathsat15_Blue    1238 non-null   float64
 14  deathsat15_Red     1238 non-null   float64
dtypes: float64(11), int64(1), object(3)
memory usage: 145.2+ KB

In [114]:
df_combined_2['result_Blue'].value_counts()

result_Blue
1    647
0    591
Name: count, dtype: int64

In [128]:
df_combined_2['region_Blue'] = df_combined_2['teamname_Blue'].map(regions_dict)
df_combined_2['region_Red'] = df_combined_2['teamname_Red'].map(regions_dict)

In [129]:
df_combined_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1238 entries, 0 to 1237
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   gameid             1238 non-null   object
 1   teamname_Blue      1238 non-null   object
 2   teamname_Red       1238 non-null   object
 3   result_Blue        1238 non-null   int64
 4   void_grubs_Blue    1238 non-null   float64
 5   void_grubs_Red     1238 non-null   float64
 6   golddiffat15_Blue  1238 non-null   float64
 7   xpdiffat15_Blue    1238 non-null   float64
 8   csdiffat15_Blue    1238 non-null   float64
 9   killsat15_Blue     1238 non-null   float64
 10  killsat15_Red      1238 non-null   float64
 11  assistsat15_Blue   1238 non-null   float64
 12  assistsat15_Red    1238 non-null   float64
 13  deathsat15_Blue    1238 non-null   float64
 14  deathsat15_Red     1238 non-null   float64
 15  region_Blue        1171 non-null   object
 16  region_Red         1170 non-null   object
dtypes: float64(11), int64(1), object(5)
memory usage: 164.6+ KB

In [130]:
df_combined_2['region_Blue'] = df_combined_2['region_Blue'].fillna('Other')
df_combined_2['region_Red'] = df_combined_2['region_Red'].fillna('Other')

In [132]:
df_combined_3 = df_combined_2.drop(columns=['teamname_Blue', 'teamname_Red'])

In [133]:
df_combined_3

,gameid,result_Blue,void_grubs_Blue,void_grubs_Red,golddiffat15_Blue,xpdiffat15_Blue,csdiffat15_Blue,killsat15_Blue,killsat15_Red,assistsat15_Blue,assistsat15_Red,deathsat15_Blue,deathsat15_Red,region_Blue,region_Red
0,LOLTMNT01_191712,0,1.0,5.0,-2755.0,-1746.0,-26.0,2.0,3.0,4.0,9.0,3.0,2.0,NA,NA
1,LOLTMNT01_191718,0,1.0,5.0,-3783.0,-3053.0,-65.0,2.0,3.0,3.0,5.0,3.0,2.0,NA,NA
2,LOLTMNT01_192790,0,3.0,3.0,-1198.0,-1383.0,-33.0,0.0,1.0,0.0,3.0,1.0,0.0,NA,NA
3,LOLTMNT01_192797,0,1.0,5.0,-900.0,-122.0,-17.0,4.0,4.0,9.0,9.0,4.0,4.0,NA,NA
4,LOLTMNT01_193134,0,2.0,4.0,-2907.0,-1695.0,-31.0,1.0,4.0,3.0,7.0,4.0,1.0,NA,NA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1233,LOLTMNT06_96459,0,3.0,3.0,3625.0,1344.0,38.0,3.0,0.0,5.0,0.0,0.0,3.0,EU,EU
1234,LOLTMNT06_96473,1,3.0,3.0,3646.0,2194.0,76.0,10.0,2.0,15.0,4.0,2.0,10.0,EU,EU
1235,LOLTMNT06_96516,0,0.0,6.0,-5112.0,-2647.0,-62.0,4.0,9.0,7.0,21.0,9.0,4.0,EU,EU
1236,LOLTMNT06_96529,1,5.0,1.0,1493.0,857.0,39.0,2.0,3.0,4.0,8.0,3.0,3.0,EU,EU
1237,LOLTMNT06_96548,1,6.0,0.0,2459.0,2146.0,36.0,3.0,0.0,4.0,0.0,0.0,3.0,EU,EU